<a href="https://colab.research.google.com/github/drshahizan/python-tutorial/blob/main/lab/submission/3H/lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [129]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [130]:
!wget https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv

--2023-10-30 08:47:32--  https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: ‘chipotle.tsv.1’

chipotle.tsv.1      100%[===================>] 356.42K  --.-KB/s    in 0.03s

2023-10-30 08:47:32 (10.1 MB/s) - ‘chipotle.tsv.1’ saved [364975/364975]

### Step 3. Assign it to a variable called chipo.

In [131]:
chipo = pd.read_table("chipotle.tsv")

### Step 4. See the first 10 entries

In [132]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1

len(chipo)

4622

In [7]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [133]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [49]:
most_order_item = chipo["item_name"].value_counts()[:1]

most_order_item.index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
most_order_item.values[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
most_choice = chipo["choice_description"].value_counts()[:1]

most_choice.index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [55]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [57]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [62]:
chipo["item_price"] = chipo["item_price"].apply(lambda x : float(x.replace("$","")))

#### Step 13.c. Check the item price type

In [63]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [71]:
(chipo["quantity"] * chipo["item_price"] ).sum()

39237.02

### Step 15. How many orders were made in the period?

In [74]:
len( chipo["order_id"].unique() )

1834

### Step 16. What is the average revenue amount per order?

In [75]:
# Solution 1

(chipo["quantity"] * chipo["item_price"] ).sum() / len( chipo["order_id"].unique() )

21.39423118865867

In [128]:
# Solution 2

(chipo["quantity"]*chipo["item_price"]).groupby(chipo["order_id"]).sum().mean()

21.39423118865867

### Step 17. How many different items are sold?

In [120]:
len( chipo["item_name"].unique() )

50