# New Section

# Basic Information

## Hello World
### Hello World
#### Hello World

**Dataset** conatining sales data from the mock office supply company.

>One level of indentation

>>Two levels of indentation

```python
print("a")
```

Code blocks

```python
print("a")
```
print("a")
Ordered lists:

1. One
1. Two
1. Three
One
Two
Three
Unordered lists:

* One
* Two
* Three
One
Two
Three
Equations:

$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$
y=x2

eiπ+1=0

ex=∑∞i=01i!xi

n!k!(n−k)!=(nk)

Am,n=⎛⎝⎜⎜⎜⎜⎜a1,1a2,1⋮am,1a1,2a2,2⋮am,2⋯⋯⋱⋯a1,na2,n⋮am,n⎞⎠⎟⎟⎟⎟⎟

Tables:

First column name  | Second column name
-------------------|------------------
Row 1, Col 1       | Row 1, Col 2
Row 2, Col 1       | Row 2, Col 2
First column name	Second column name
Row 1, Col 1	Row 1, Col 2
Row 2, Col 1	Row 2, Col 2
Horizontal rules:

---